<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceCustomers" />
                <binding name="BasicHttpBinding_IServiceDetailReservations" />
                <binding name="BasicHttpBinding_IServiceEmployees" />
                <binding name="BasicHttpBinding_IServiceLocals" />
                <binding name="BasicHttpBinding_IServiceReservations" />
                <binding name="BasicHttpBinding_IServiceServices" />
                <binding name="BasicHttpBinding_IServiceTypeCars" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/wcf_fullcarwash/ServiceCustomers/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceCustomers"
                contract="CustomersWS.IServiceCustomers" name="BasicHttpBinding_IServiceCustomers" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/wcf_fullcarwash/ServiceDetailReservations/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceDetailReservations"
                contract="DetailReservationsWS.IServiceDetailReservations"
                name="BasicHttpBinding_IServiceDetailReservations" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/wcf_fullcarwash/ServiceEmployees/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceEmployees"
                contract="EmployeesWS.IServiceEmployees" name="BasicHttpBinding_IServiceEmployees" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/wcf_fullcarwash/ServiceLocals/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceLocals"
                contract="LocalsWS.IServiceLocals" name="BasicHttpBinding_IServiceLocals" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/wcf_fullcarwash/ServiceReservations/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceReservations"
                contract="ReservationsWS.IServiceReservations" name="BasicHttpBinding_IServiceReservations" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/wcf_fullcarwash/ServiceServices/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceServices"
                contract="ServicesWS.IServiceServices" name="BasicHttpBinding_IServiceServices" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/wcf_fullcarwash/ServiceTypeCars/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceTypeCars"
                contract="TypeCarsWS.IServiceTypeCars" name="BasicHttpBinding_IServiceTypeCars" />
        </client>
    </system.serviceModel>
</configuration>